@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 200px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: inline-block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 18px;
}
header {
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}
header .logo a {
    transition: background-image 0.5s;
}
header.fixed{
    background-color: var(--color-white);
    color: var(--color-title);
    fill: var(--color-basic);
    border-bottom: 1px solid var(--color-line2);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}


/*************시작 : pc버전 메뉴*********/

@media screen and (min-width:1025px){
    header .gnb .gnb_open, 
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }header .gnb .gnb_wrap ul.depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: (var(--header-h) - 14px);
        background-color: #fff;
        color: var(--color-basic);
        border-radius: 0 0 10px 10px;
        border: 1px solid var(--color-line2);
        border-top: 0;
        min-width: 100%;
        padding: 20px 25px;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2  > li > a {
        display: block;
        padding: 2px 0;
        white-space: nowrap;
        text-align: center;
        color: var(--color-basic);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2  > li > a:hover {
        font-weight: var(--font-weight-bold);
        color: var(--color-main);
    }
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-basic);
        border-bottom: 1px solid var(--color-line2);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main);
        font-weight: var(--font-weight-bold);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
       display: block !important;
    }
    
}
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }

}  

/*************끝 : pc버전 메뉴*********/

@media screen and (max-width:1024px){
                header {
                    padding-right: 0;
                    height: clamp(var(--header-ver));
                }
                header .logo a {
                    /*width: 145px;
                    height: 22px;*/
                    width: clamp(145px, 20vw, 200px);
                }
                header .util {
                    display: none;
                }
                header .gnb .gnb_open {
                    display: block;
                    justify-content: center;
                    align-items: center;
                    width:clamp(56px, 9vw, 90px);
                    height:clamp(56px, 9vw, 90px);
                }
                header .gnb .gnb_open i {
                    display: block;
                    width: 36.16px;
                }
                header .gnb .gnb_wrap {
                    /*display: none;*/
                    position: absolute;
                    right: -110%;
                    top: 0;
                    width: 100%;
                    height: 100dvh;
                    background-color: var(--color-white);
                    color: var(--color-basic);
                    fill: var(--color-basic);
                    transition: right 0.5s;
                }
                header .gnb .gnb_wrap ul.depth1{
                    margin: var(--header-ver) 0 0 0;
                    height: calc(100dvh - var(--header-ver));
                    overflow-y: auto;
                    padding: 17px 0 0 0;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 20px;
                    font-weight: var(--font-weight-bold);
                    line-height: var(--line-height-title);
                    color: var(--color-title);
                    padding: 16px 60px 16px var(--wrapper-margin);
                    position: relative;
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > a {
                    color: var(--color-main);
                }
                header .gnb .gnb_wrap ul.depth1 > li > a::after {
                    content: "";
                    position: absolute;
                    right: var(--wrapper-margin);
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 8px;
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33906L13.5125 0.826562C13.7 0.639062 13.9187 0.548437 14.1687 0.554687C14.4187 0.560937 14.6375 0.657812 14.825 0.845312C15.0125 1.03281 15.1062 1.25156 15.1062 1.50156C15.1062 1.75156 15.0125 1.97031 14.825 2.15781L9.06871 7.93281C8.91871 8.08281 8.74996 8.19531 8.56246 8.27031C8.37496 8.34531 8.18746 8.38281 7.99996 8.38281C7.81246 8.38281 7.62496 8.34531 7.43746 8.27031C7.24996 8.19531 7.08121 8.08281 6.93121 7.93281L1.15621 2.15781C0.968711 1.97031 0.878086 1.74844 0.884336 1.49219C0.890586 1.23594 0.987461 1.01406 1.17496 0.826563C1.36246 0.639063 1.58121 0.545313 1.83121 0.545313C2.08121 0.545313 2.29996 0.639063 2.48746 0.826563L7.99996 6.33906Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                    transition: 0.5s;
                }      
                header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                    transform: translateY(-50%) rotate(180deg);
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00004 2.66094L2.48754 8.17344C2.30004 8.36094 2.08129 8.45156 1.83129 8.44531C1.58129 8.43906 1.36254 8.34219 1.17504 8.15469C0.987538 7.96719 0.893789 7.74844 0.893789 7.49844C0.893789 7.24844 0.987538 7.02969 1.17504 6.84219L6.93129 1.06719C7.08129 0.917187 7.25004 0.804687 7.43754 0.729687C7.62504 0.654687 7.81254 0.617187 8.00004 0.617187C8.18754 0.617187 8.37504 0.654687 8.56254 0.729687C8.75004 0.804687 8.91879 0.917187 9.06879 1.06719L14.8438 6.84219C15.0313 7.02969 15.1219 7.25156 15.1157 7.50781C15.1094 7.76406 15.0125 7.98594 14.825 8.17344C14.6375 8.36094 14.4188 8.45469 14.1688 8.45469C13.9188 8.45469 13.7 8.36094 13.5125 8.17344L8.00004 2.66094Z' fill='%23FF4E46'/%3E%3C/svg%3E%0A");
                }    
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    padding: 10px var(--wrapper-margin) 10px var(--wrapper-margin);
                    display: none;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li { 
                    border-bottom: 1px solid var(--color-line2);
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:last-child {
                    border-bottom: none;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 7px 0 7px 12px;
                }
                header .gnb .gnb_wrap .gnb_logo {
                    position: absolute;
                    left: var(--wrapper-margin);
                    top: 0;
                    width: clamp(145px, 20vw, 200px);
                    height: var(--header-ver);
                    background: url(../images/logo.svg) no-repeat center center / contain;
                }
                header .gnb .gnb_wrap .gnb_close {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--header-ver);
                    height: var(--header-ver);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                header .gnb .gnb_wrap .gnb_close i {
                    display: block;
                    width: 26.41%;
                }

                header.menu_mo .gnb .gnb_wrap{
                   /* display: block;*/
                   right: 0;
                }
}


.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(56px, 9vw, 90px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0 0 calc(15dvh + 93px) 0;
    /* 글자가 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.2s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 12px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 140px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex; /* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 9px;
    /* 이미지나 svg 코드 등은 넓이만 줘도 높이는 비율에 맞게 들어감 */
    margin: 0 0 3px 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 3px 0;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide {
                height: 400px; /* 브라우저 높이와 동일 */
            }
            .visual .swiper-slide p {
                font-size: 28px;
                margin: 0 0 92px 0;
                transform: translate(0, 20px);
            }
            .visual .ctrl_btn {
                left: 16px;
                bottom: 38px;
                gap: 0 6px;
            }
            .visual .ctrl_btn .paging .bar {
                width: 72px;
            }
}

.find {
    background-color: var(--color-title);
    color: var(--color-white);
    padding: 151px 0 142px 0 ;
}
.find h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    text-align: center;
}
.find .tab_list {
    margin: 32px 0 0 0;
}
.find .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 0 10px;
}
.find .tab_list ul li button {
    display: block;
    padding: 6px 27px 7px 25px;
    border-radius: 30px;
    color: var(--color-white60);
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-bold);
}
.find .tab_list ul li.active button {
    background-color: var(--color-main);
    color: var(--color-white);
}
.find .tab_list ul li.item2.active button {
    background-color: var(--color-main2);
}
.find .tab_content {
    margin: 22px 0 0 0;
}
.find .tab_content .ctrl_btn {
    margin: 98px 0 0 0;
    display: flex;
    justify-content: center;
}
.find .tab_content .ctrl_btn .prev i,
.find .tab_content .ctrl_btn .next i ,
.find .tab_content .ctrl_btn .more i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--color-white40);
    border-radius: 50%;
    fill: var(--color-white);
}







footer {
    margin: 1500px 0 0 0;
}