/* 태그 스타일 초기하 */
h1 h2 h3  h4 h5 h6 {
    font-weight: inherit;
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em {
    font-style: normal; /*기울임 취소*/
}
a {
    color:inherit;
    text-decoration: none; /* 밑줄 삭제*/
}
ol, ul, li {
    list-style: none; /* 앞에 도형빼기*/
}

button {
    border: none;
    background: none;
}
* {
    /* *(와일드카드)는 모든 태그를 말함*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*padding과 width/height를 같이 주면 사이즈가 늘어나는 현상을 막음*/
}